page-contact-us-management {
  #mapContactManagement {
    width: 100%;
    height: 350px;
  }

  .formManagement {
    position: relative;
    margin-top: 11%;
  }
.content-btn-management {
    width: 46%;
    position: fixed;
    top: 9%;
    right: 0%;
  }
  .item-md{
    background: none !important;
  }
}
