<ion-grid no-padding>
  <ion-row>
    <ion-col col-12>
      <ion-list no-margin>
        <ul no-margin no-padding class="collapsible">
          <li *ngFor="let group of paramsDataManagement.data;">

            <!-- List big image Header -->
            <div class="collapsible-header" (click)="toggleGroup(group)">
              <ion-item no-padding>
                <ion-thumbnail item-start no-margin>
                  <img [src]="group.image" alt="{{group.title}}"/>
                </ion-thumbnail>
                <h2 padding-left item-title>{{group.title}}</h2>
                <h3 padding-left item-subtitle>{{group.description}}</h3>
                <div social float-right *ngIf="paramsDataManagement.floatRightButtons">
                  <div *ngIf="group.icons.type=='template'" class="content-icon-template">
                    <ion-icon class="icon-management-buttons" *ngFor="let icon of group.icons.data;" (click)="onEvent(icon.event, group )" name="{{icon.name}}">

                    </ion-icon>
                  </div>
                  <div *ngIf="group.icons.type=='fontello'" class="content-icon-fontello">
                    <ion-icon *ngFor="let icon of group.icons.data;">
                      <i class="{{icon.name}}"
                         (click)="onEvent(icon.event, group )"></i>
                    </ion-icon>
                  </div>

                </div>
              </ion-item>
            </div>
            <!-- List big image Body -->
            <div class="content-expandable" *ngIf="paramsDataManagement.allowExpandable">
              <div class="item-accordion" [ngClass]="{'active': isGroupShown(group) }" [hidden]="!isGroupShown(group)">

                <div *ngIf="paramsDataManagement.hasChildren">
                  <ion-item transparent no-lines
                            *ngFor="let item of group.items;"
                            (click)="onEvent('onItemClick', item.title, $event)">
                    <ion-thumbnail item-start>
                      <img [src]="item.image" alt="{{item.title}}"/>
                    </ion-thumbnail>
                    <h2 subitem-title>{{item.title}}</h2>
                    <h3 subitem-subtitle>{{item.description}}</h3>
                    <ion-icon item-end icon-medium><i class="icon-fontello icon {{item.iconPlay}}"></i></ion-icon>
                  </ion-item>
                </div>
                <div *ngIf="!paramsDataManagement.hasChildren">
                  <ion-item class="item-accordion__description"
                            transparent no-lines

                  >
                    <h2 subitem-title>Descripcion</h2>
                    <p>{{item.description}}</p>

                  </ion-item>
                </div>


              </div>
            </div>

            <!--end-->
          </li>
        </ul>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
