page-file-manager {
  .categories-content{
    .subcategories-content__item{
      background: white;
    }
  }
  .subcategories-content{
    .subcategories-content__item{
      background: white;
    }
  }
  .content-btn-management {

    left: 7%;

  }
}
